@import '../../styles/vars';

.component {
  position: relative;
}

.toggle {
  white-space: nowrap;
}

.toggle-icon:not(.icon-only) {
  margin-left: .5rem;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left;
}

.list-main {
  position: absolute;
  top: 100%;
  z-index: 1000;
  visibility: hidden;
  min-width: 160px;
  overflow: auto;
}

.align-left {
  left: 0;
}

.align-right {
  right: 0;
}

.list-item-text,
.list-item-link {
  display: block;
  position: relative;
  white-space: nowrap;
  text-decoration: none;
}

.list-item-text {
  cursor: default;
}

@keyframes in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes out {
  0% { opacity: 1; visibility: visible; }
  100% { opacity: 0; }
}

.close {
  animation: out var(--default-transition-duration) var(--default-transition-easing);
  visibility: hidden;
}

.open {
  animation: in var(--default-transition-duration) var(--default-transition-easing);
  visibility: visible;
}
