@import '../../styles/vars';

.component {
  @apply --clearfix;
  position: relative;
  /*border: 1px solid var(--gray-border);*/
  background-color: #fff;
  /*padding: 8px 0 10px 0;*/
  margin-bottom: 24px;
  &:not(.has-tests) {
    box-shadow: none;
    background: none;
  }
}

.header {
  @apply --clearfix;
  padding: 12px 24px;
}

.title {
  @apply --font-light;
  margin: 0;
}

.filename {
  @apply --font-regular;
  color: var(--black54);
  margin: 6px 0 0 0;
}

.body {
  @apply --clearfix;
}
.wrap {
  & .component .component {
    margin: 10px 10px 24px 10px;
  }
}

.test-wrap {
  @apply --column-base;
  float: left;
  width: 100%;
}



.chart-wrap {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.test-header {
  display: none;
  padding: 4px 8px 6px 8px;
  cursor: pointer;
  border-top: 1px solid var(--list-group-border);
  border-bottom: 1px solid var(--list-group-border);
}

.test-list {
  margin-bottom: 0;
}

.test-header-title {
  @apply --link-transition;
  composes: font-light from 'fonts.css';
  font-size: 16px;
  color: #ccc;
  margin: 0;

  @nest .test-header:hover & {
    color: var(--gray-dark);
  }

  &:after {
    @apply --ma-icon;
    transition: transform .2s ease-out;
    content: var(--ma-icon-right-chevron);
    position: absolute;
    font-size: 20px;
    right: 15px;
    transform: rotate(90deg);
    @nest .collapsed & {
      transform: rotate(0);
    }
  }
}

/* Tablet 768 and up */
@media (--screen-sm) {
  :global(.details) > .wrap > .component {
    border: 1px solid var(--gray-border);
  }
  .chart-wrap {
    width: 65px;
    height: 65px;
  }
}