@import '../../styles/vars';

.component {
  @apply --clearfix;
  @apply --font-regular;
  @apply --list-unstyled;

  font-size: 15px;
  margin: 16px 0 0 0;

  &.no-margin {
    margin: 0;
  }
}

.summary-item {
  float: left;
  line-height: 18px;
  margin: 0 8px;
  color: var(--black54);
  &:first-child {
    margin-left: 0;
  }
  &.tests,
  &.duration {
    color: var(--black54);
  }
  &.passed {
    color: var(--green500);
  }
  &.failed {
    color: var(--red500);
  }
  &.pending {
    color: var(--ltblue500);
  }
  &.skipped {
    color: var(--black38);
  }
}

.icon {
  float: left;
  margin-right: 2px;
}