@import '../../styles/vars';

.component {
  padding: 10px 24px;
  border-bottom: 1px solid var(--grey300);
}

.header {
  @apply --clearfix;
  position: relative;
}

.title {
  @apply --font-regular;
  @apply --text-overflow;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0 60px 0 40px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  border-radius: 50%;
  color: #fff;
  margin-right: 16px;
  &.pass {
    color: var(--green100);
    background-color: var(--green500);
  }
  &.fail {
    color: var(--red100);
    background-color: var(--red500);
  }
  &.pending {
    color: var(--ltblue100);
    background-color: var(--ltblue500);
  }
}

.info {
  position: absolute;
  top: 0;
  right: 0;
}

.actions {
  height: 24px;
  float: left;
  display: none;
  @nest .component:hover & {
    display: block;
  }
}

.btn {
  @apply --button-base;
  color: var(--black54);
  width: 24px;
  height: 24px;
  line-height: 1;
  float: left;
  margin-left: 8px;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    color: var(--black87);
  }
}
.action-icon {
  font-size: 18px;
  padding: 3px;
}

.duration {
  @apply --font-regular;
  color: var(--black54);
  float: left;
  /*&:before {
    content: '';
    height: 10px;
    display: inline-block;
    border-left: 1px solid var(--gray-light);
    margin: 0 6px;
  }*/
  &.slow {
    color: var(--red500);
  }
  &.medium {
    color: var(--amber500);
  }
}

.toggle-btn {
  @apply --link-transition;
  border: none;
  padding: 0;
  outline: none;
  text-decoration: none;
  &:before {
    content: "Hide ";
  }
  &.collapsed:before {
    content: "Show ";
  }
  &:focus {
    outline: none;
  }
}

.toggle-code {
  float: left;
  vertical-align: top;
  line-height: 1.7;
}

.toggle-stack {
  float: right;
}

.error-message {
  @apply --clearfix;
  font-size: 12px;
  margin: 4px 0 0 17px;
  color: var(--brand-danger);
}

pre {
  margin: 10px 0 0 0;
  padding: 0;
  background: none;
  border: none;
}

.code-snippet {
  font-size: 11px;
  display: none !important;
  background-color: var(--grey50) !important;
}

