{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-no-unknown": [true, { "ignoreAtRules": ["extend"]}],
    "color-named": "never",
    "comment-word-blacklist": ["/^TODO:/"],
    "declaration-block-no-duplicate-properties": true,
    "declaration-no-important": true,
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-missing-generic-family-keyword": null,
    "font-weight-notation": "named-where-possible",
    "max-nesting-depth": 3,
    "no-descending-specificity": null,
    "no-duplicate-selectors": true,
    "no-unknown-animations": true,
    "number-max-precision": 3,
    "order/properties-order": [["composes", "content", "display", "position"], { unspecified: "bottom" }],
    "property-no-vendor-prefix": true,
    "selector-max-compound-selectors": 3,
    "selector-max-id": 0,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-class-no-unknown": [ true, { ignorePseudoClasses: ["global"] } ],
    "selector-pseudo-element-colon-notation": "single",
    "selector-type-no-unknown": [ true, { ignoreTypes: ["/^--/"] } ],
    "shorthand-property-no-redundant-values": null,
    "time-min-milliseconds": 100,
    "unit-whitelist": ["px", "rem", "em", "%", "deg", "s"],
    "value-no-vendor-prefix": true
  }
}
