{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "color-named": "never",
    "comment-word-blacklist": ["/^TODO:/"],
    "declaration-block-no-duplicate-properties": true,
    "order/declaration-block-properties-specified-order": [["composes", "content", "display", "position"], { unspecified: "bottom" }],
    "declaration-no-important": true,
    "font-family-name-quotes": "always-unless-keyword",
    "font-weight-notation": "named-where-possible",
    "max-empty-lines": 2,
    "max-nesting-depth": 3,
    "no-duplicate-selectors": true,
    "no-unknown-animations": true,
    "number-max-precision": 3,
    "property-no-vendor-prefix": true,
    "selector-type-no-unknown": [ true, { ignoreTypes: ["/^--/"] } ],
    "selector-max-compound-selectors": 3,
    "selector-no-id": true,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-class-no-unknown": [ true, { ignorePseudoClasses: ["global"] } ],
    "selector-pseudo-element-colon-notation": "single",
    "string-quotes": "single",
    "time-min-milliseconds": 100,
    "unit-whitelist": ["px", "rem", "em", "%", "deg", "s"],
    "value-no-vendor-prefix": true
  }
}