@import '../../styles/vars';

.cnt {
  display: none;
  float: left;
}

.list {
  @apply --clearfix;
  opacity: 1;
  transition: opacity .2s ease-out;
  padding: 15px 24px;
  margin: 0;
  @nest .show & {
    opacity: 1;
  }
}

.item {
  @apply --font-light;
  font-size: 18px;
  margin: 0 12px;
  /*border-bottom: 1px solid transparent;*/
  float: left;
}

/* Icons / Colors */
.icon {
  margin-right: 4px;
  float: left;
}

.item {
  color: #fff;

  &.suites {
  }

  &.tests {
    color: #fff;
  }

  &.passes {
    & .icon {
      color: var(--green700);
      font-size: 18px;
      background-color: var(--green100);
      border-radius: 50%;
      padding: 3px;
    }
  }

  &.failures {
    & .icon {
      color: var(--red700);
      font-size: 18px;
      background-color: var(--red100);
      border-radius: 50%;
      padding: 3px;
    }
  }

  &.pending {
    & .icon {
      color: var(--ltblue700);
      font-size: 18px;
      background-color: var(--ltblue100);
      border-radius: 50%;
      padding: 3px;
    }
  }

  &.duration {
    & span {
      font-size: 14px;
      text-transform: lowercase;
    }
  }
}

.show-quick-summary {
  & .list {
    opacity: 1;
  }
}

/* Tablet 768 and up */
@media (--screen-sm) {
  .cnt {
    display: block;
  }
}