@import '../../styles/vars';

.component {
  @extend %clearfix;

  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.component > .body > div > .component {
  border: 1px solid var(--grey300);
  border-right: none;
  border-bottom: none;
  margin: 16px 0 16px 16px;

  /* stylelint-disable-next-line selector-max-compound-selectors */
  &.no-tests {
    border-bottom: 1px solid var(--grey300);
  }
}

.root-suite,
.list-main > .component {
  @extend %z-depth-1;

  margin: 0 0 24px 0;
}

/* stylelint-disable-next-line selector-max-compound-selectors */
.list-main > .no-tests > .body > div > .component:not(.no-suites) {
  border-bottom: 1px solid var(--grey300);
}

.header {
  @extend %clearfix;

  padding: 12px 16px;
  border-bottom: 1px solid var(--grey300);

  @nest .no-tests > & {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.title {
  font-family: var(--font-family--light);
  margin: 0;
}

.filename {
  color: var(--black54);
  font-family: var(--font-family--regular);
  margin: 6px 0 0 0;
}

.body {
  @extend %clearfix;

  @nest .has-suites > & {
    border-bottom: 1px solid var(--grey300);
  }
}

.chart-wrap {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 50px;
  height: 50px;
}

.chart-slice {
  stroke: #fff;
  stroke-width: 2px;

  @nest :global(.ct-series-a) & {
    fill: var(--green500);
  }

  @nest :global(.ct-series-b) & {
    fill: var(--red500);
  }

  @nest :global(.ct-series-c) & {
    fill: var(--ltblue500);
  }

  @nest :global(.ct-series-d) & {
    fill: var(--black38);
  }
}

/* Tablet 768 and up */
@media (--screen-sm) {
  .chart-wrap {
    display: block;
  }

  .chart-enabled:not(.no-tests) {
    & .header {
      min-height: 74px;
    }
  }
}
