.font-light { font-weight: 300; }
.font-normal { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-bold { font-weight: 700; }

.font-cond-light {
  composes: font-light;
  font-family: 'Roboto Condensed';
}

.font-cond-normal {
  composes: font-normal;
  font-family: 'Roboto Condensed';
}

.font-cond-bold {
  composes: font-bold;
  font-family: 'Roboto Condensed';
}

.font-slab-light {
  composes: font-light;
  font-family: 'Roboto Slab';
}
.font-slab-normal {
  composes: font-normal;
  font-family: 'Roboto Slab';
}
.font-slab-bold {
  composes: font-bold;
  font-family: 'Roboto Slab';
}
