@import 'normalize.css';
@import 'vars';
@import 'type';
@import '../../node_modules/highlight.js/styles/tomorrow-night';

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'mochawesome';
  src: url('../fonts/mochawesome.woff') format('woff'),
       url('../fonts/mochawesome.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../node_modules/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  background-color: var(--body-bg);
  margin-bottom: var(--footer-height);
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

pre {
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
}

code {
  
}

.clearfix, .cf {
  @apply --clearfix;
}

.container {
  @apply --clearfix;
  margin-right: auto;
  margin-left: auto;
  padding-left:  calc(var(--grid-gutter-width) / 2);
  padding-right: calc(var(--grid-gutter-width) / 2);
}

.row {
  @apply --row;
}

[data-icon],
[class^="icon-"],
[class*=" icon-"] {
  &:before { 
    @apply --ma-icon;
  }
}

.icon-passed,
[data-icon="passed"] {
  &:before { content: var(--ma-icon-passed); }
}
.icon-failed,
[data-icon="failed"] {
  &:before { content: var(--ma-icon-failed); }
}
.icon-right-chevron,
[data-icon="right-chevron"] {
  &:before { content: var(--ma-icon-right-chevron); }
}
.icon-pending,
[data-icon="pending"] {
  &:before { content: var(--ma-icon-pending); }
}
.icon-pending-alt,
[data-icon="pending-alt"] {
  &:before { content: var(--ma-icon-pending-alt); }
}
.icon-tests,
[data-icon="tests"] {
  &:before { content: var(--ma-icon-tests); }
}
.icon-tests-alt,
[data-icon="tests-alt"] {
  &:before { content: var(--ma-icon-tests-alt); }
}
.icon-suites,
[data-icon="suites"] {
  &:before { content: var(--ma-icon-suites); }
}
.icon-duration,
[data-icon="duration"] {
  &:before { content: var(--ma-icon-duration); }
}
.icon-skipped,
[data-icon="skipped"] {
  &:before { content: var(--ma-icon-skipped); }
}
.icon-filter,
[data-icon="filter"] {
  &:before { content: var(--ma-icon-filter); }
}
.icon-menu,
[data-icon="menu"] {
  &:before { content: var(--ma-icon-menu); }
}

.details {
  padding-top: calc(var(--navbar-height) + var(--summary-height-stacked) + var(--statusbar-height-stacked));
  padding-bottom: 20px;
  &.qs {
    padding-top: 43px; /* height of full statusbar plus base padding (33 + 10) */
  }
}

@media (--screen-sm) {
  .container {
    width: var(--container-sm);
  }
  .details {
    padding-top: 10px;
  }
}
@media (--screen-md) {
  .container {
    width: var(--container-md);
  }
}
@media (--screen-lg) {
  .container {
    width: var(--container-lg);
  }
}
