.light { font-weight: 300; }
.normal { font-weight: 400; }
.medium { font-weight: 500; }
.bold { font-weight: 700; }

.font-light {
  font-family: 'robotolight';
}

.font-regular {
  font-family: 'robotoregular';
}

.font-medium {
  font-family: 'robotomedium';
}
