@import '../../styles/vars';

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: var(--navbar-height);
  height: var(--navbar-height);
  margin-bottom: 0;
  border: none;
  background: var(--gray-darker-faded);
  @apply --clearfix;
}

.menu-button {
  @apply --button-base;
  font-size: 21px;
  width: 26px;
  height: 26px;
  float: left;
  color: #fff;
  margin-top: 11px;
  & i {
    top: 1px;
  }
}

.nav-right {
  float: right;
}

.report-info-cnt {
  float: left;
}

.report-title {
  composes: font-medium from 'fonts.css';
  color: #fff;
  font-size: 16px;
  margin: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.report-date {
  composes: font-regular from 'fonts.css';
  font-size: 13px;
  text-transform: uppercase;
  color: var(--gray-medium);
  margin: 5px 0 0 0;
}

/* Tablet 768 and up */
@media (--screen-sm) {
  .report-title {
    font-size: 1.3em;
  }
  .report-date {
    font-size: 14px;
    margin: 0;
  }
}