@import '../../styles/vars';

.navbar {
  @apply --clearfix;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  min-height: var(--navbar-height);
  height: var(--navbar-height);
  margin-bottom: 0;
  border: none;
  background: var(--bluegrey500);
}

.menu-button {
  @apply --button-base;
  padding: 16px 24px;
  height: 24px;
  float: left;
  color: var(--light-icon-inactive);
  &:hover {
    color: var(--light-icon-active);
  }
}

.nav-right {
  float: right;
}

.report-info-cnt {
  float: left;
}

.report-title {
  @apply --font-light;
  color: #fff;
  font-size: 18px;
  line-height: calc(var(--navbar-height) - 4);
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Tablet 768 and up */
@media (--screen-sm) {
}