@import '../../styles/_vars';

.navbar {
  min-height: var(--navbar-height);
  height: var(--navbar-height);
  margin-bottom: 0;
  border: none;
  background: color(var(--gray-darker) alpha(95%));
}

.nav-menu-btn {
  composes: trans-color from '_vars.css';
  float: left;
  color: #fff;
  margin-top: 11px;
  & i {
    top: 1px;
  }
}

.nav-right {
  float: right;
}

.report-info-cnt {
  float: left;
}

.report-title {
  composes: font-slab-normal from '_fonts.css';
  color: #fff;
  font-size: 16px;
  margin: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.report-date {
  composes: font-cond-normal from '_fonts.css';
  font-size: 13px;
  text-transform: uppercase;
  color: var(--gray-medium);
  margin: 5px 0 0 0;
}

// Tablet 768 and up
@media (--screen-sm) {
  .report-title {
    font-size: 1.3em;
  }
  .report-date {
    font-size: 14px;
    margin: 0;
  }
}