@import '../../styles/vars';

.component {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: var(--footer-height);
  color: var(--black38);
  text-align: center;

  & p {
    font-size: 12px;
    margin: 10px 0;
  }

  & a {
    @apply --link-transition;
    color: var(--black54);
    &:hover {
      color: var(--black87);
    }
  }  
}
